
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(59, 59, 59);
}
.nav{
    @apply  text-gray-300 text-base border-2 rounded-md py-1 w-auto px-1 text-center hover:border-red-500 tracking-wide  hover:text-red-500 cursor-pointer
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    height: 10px;
    border-radius: 5px;
  }
  
  .glass{
    background: rgba(71, 68, 68, 0.571);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
backdrop-filter: blur( 12px );
-webkit-backdrop-filter: blur( 12px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }